<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<div class="row">
    {% for recipe in recipes %}
      <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                {% if recipe.picture %}      
                <img src="{{ recipe.picture.url }}" alt="{{ recipe.title }} thumbnail">
                {% endif %}
                <div class="caption">
                    <h3>{{ recipe.title }}</h3>
                    <p>{{ recipe.instructions }}</p>
                    <p>
                        <a onclick="groceryPost({{ recipe.id }})" class="btn btn-primary" role="button">Add to cart</a>
                        <a onclick="deleteRecipe({{ recipe.id }})" class="btn btn-default" role="button">Delete</a>
                    </p>
                </div>
            </div>
      </div>
    {% endfor %}
</div>

<script type="text/javascript">
    function post(path, params, method) {
        method = method || "post"; 

        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for(var key in params) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
        }

        document.body.appendChild(form);
        form.submit();
    }
    function groceryPost(id) {
        var recipe_ids = [id];
         /*$('input:checked').each(function() {
             recipe_ids.push($(this).val());
         });*/
        console.log(recipe_ids);
        post("/groceries/list/", recipe_ids);
    } 
    function deleteRecipe(id) {
        post("/recipes/delete/" + id + "/")
    }
</script>
