{% extends "base/base.html" %}


{% block content %}
    <select style="width:100%"class="ingredient-search" multiple="multiple">
        {% for i in ingredients %}
            <option value="{{ i.name }}">{{ i.name }}</option>
        {% endfor %}
    </select>
    <button class="isearch btn btn-default">Search</button>
    <script type="text/javascript">
        ingredients = $(".ingredient-search").select2();
        $(".isearch").on("click", function() {
            query = JSON.stringify(ingredients.val());
            var url = window.location.href;    
            if (url.indexOf('?') > -1){
               url += '&q=' + query;
            }else{
               url += '?q=' + query;
            }
            window.location.href = url;
        });
    </script>
    {% include "recipes/recipe.html" %}
{% endblock %}
